.addCard {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: grey;
    text-align: center;
    border: 6px dotted black;
}
 button{
     color: black;
     font-size: 30px;
}